.header-div{
    background:  linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);
    height: 900px;
    width: 100%;
}
.logo{
    margin-top: 105px;
    margin-left: 130px;
}
.header{
    display:flex;
}
.navigation{
    display:flex;
    list-style-type: none;
    margin-top: 115px;
}
.li{
    margin-left: 66.5px;
    font-family: Montserrat;
font-size: 25px;
font-weight: 500;
line-height: 30.48px;
text-align: left;

}
.l{
    margin-top: 150px;
    margin-left: 130 ;
    
}
.lip{
    height: 70px;
    margin-top: 98px;
    margin-left: 110px;
    
}
